services:
  postgres:
    image: postgres:18.1-alpine3.23
    container_name: furnicraft_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - furnicraft_network

networks:
  furnicraft_network:
    driver: bridge

volumes:
  postgres_data: